[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastmcp==2.14.4",
    "pyserial==3.5",
    "folium==0.15.1",
    "duckdb>=0.9.0"
]
